body {

        background: rgb(255, 143, 205);
        background-size: 600%, 600%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Inter', sans-serif;
        
        padding: 0;
        margin: 0;
        user-select: none;

}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
.alaskabelle {

position: absolute;
height: 320px;
bottom: 86px;
left: 32px;
pointer-events: none;
}

.instagram {

    position: absolute;
    height: 18px;
    bottom: 50px;
    left: 192px;
    
    }

.twitter {

    position: absolute;
    height: 18px;
    bottom: 50px;
    left: 160px;

}

.soundcloud {

    position: absolute;
    height: 18px;
    bottom: 50px;
    left: 128px;
    
    }

.youtube {

position: absolute;
height: 18px;
bottom: 50px;
left: 96px;

}

.applemusic {

    position: absolute;
    height: 18px;
    bottom: 50px;
    left: 64px;
    }

.spotify {

    position: absolute;
    height: 18px;
    bottom: 50px;
    left: 32px;
    }