@import url('https://rsms.me/inter/inter.css');

body {
  background-image: url("images/background.png");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #161820;
  font-family: 'Inter', sans-serif;
  
  padding: 0;
  margin: 0;
  user-select: none;
}

a {
  color: #007fff;
  text-decoration: none;
}

.image {
	display: block;
	width: auto;
	margin: 0 auto;
}

@font-face {
  font-family: title_font;
  src: url(pixel_font.TTF);
}

.page-grid {
  display: grid;
  grid-template-columns: auto 50vw auto;
  grid-template-rows: auto 50vh auto;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  padding: 0;
  margin: 0;
}
.content-column {
  grid-column: 2;
  grid-row: 2;
}
.logo {
  padding-bottom: 20px;
}
.socials {
  display: flex;
  flex-direction: column;
}
.socials a {
  width: 70px;
}

h1{
  font-family: title_font;
  color: #F5A097;
  font-size: 28pt;
  padding-top: 12%;
  padding-left: 32%;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.madeby-toggle {
  left: 20px;
  bottom: 20px;
  position: absolute;
  border-radius: 40px;
  padding: 20px;
  width: 10px;
  height: 10px;
  background-color: #232633;
  color: #fff;

  cursor: pointer;
}
.madeby {
  position: absolute;
  background-color: #232633;
  color: #fff;

  bottom: 25px;
  left: 80px;
  padding: 10px;

  user-select: none;
  border-radius: 10px;

  transition: 0.2s opacity;
}
.madeby a {
  color: #007fff;
}

.gg-code-slash {
  display: block;
  position: relative;
  box-sizing: border-box;
  transform: rotate(15deg) translateX(3px) translateY(-4px);
  width: 2px;
  height: 16px;
  background: currentColor;
}
.gg-code-slash::after,
.gg-code-slash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(-60deg)
}
.gg-code-slash::before {
  border-left: 2px solid;
  border-top: 2px solid;
  left: -8px;
  top: 5px
}
.gg-code-slash::after {
  border-right: 2px solid;
  border-bottom: 2px solid;
  right: -8px;
  top: 3px
}