body {

        background: rgb(255,143,205)
        background-size: 600%, 600%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        font-family: 'Inter', sans-serif;
